:root {
    --espaço-grande: 5rem;
    --espaço-medio: 2.4rem;
    --espaço: 1.5rem;
    --espaço-pequeno: 0.8rem;
    --espaço-minusculo: 0.5rem;
    --largura-pagina-principal: 120rem;
    --largura-pagina-secundarial: 40rem;
    --tamanho-tabela-minima: 60rem;

    --fonte-muito-pequena: 1.3rem;
    --fonte-pequena: 1.6rem;
    --fonte-media: 2.4rem;
    --fonte-grande: 3.2rem;
    --fonte-extra-grade: 4rem;

    --transicao-rapida: 300ms;

    --espessuraBorda: 0.3rem;
    --raioBorda: 4px;

    --branco: #f1f1f1;
    --cinza: #b6b6b6;
    --preto: #323232;
    --azul: #284B63;
    --azul-claro: #315f7e;
    --verde-agua: #3C6E71;
    --verde-agua-claro: #53989b;

    --verbelho-argila: #A72F1D;
    --verde: #3c514b;

    --preto-baixa-opacidade: rgb(50, 50, 50, 0.1);
    --branco-baixa-opacidade: rgb(241, 241, 241, 0.5);
    --azul-cinza-baixa-opacidade: rgba(82, 96, 126, 0.2);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html {
    font-size: 62.5%;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.5;
    font-size: var(--fonte-pequena);
    color: var(--preto);
    background: var(--branco);
    -webkit-font-smoothing: antialiased;
}



.cabecalho_pagina {
    color: var(--branco);
    background: var(--azul);
    padding: var(--espaço-medio);
    box-shadow: 0px 6px 6px var(--preto-baixa-opacidade); /* (quanto a direita), (quanto para baixo), (arredondamento borda) */
}

.quadro-descricao {
  margin: calc(var(--espaço) * 1);
  color: var(--preto) !important;
  background-color: var(--branco);
  border-radius: var(--raioBorda);
  box-shadow: -2px -6px 6px var(--preto-baixa-opacidade) !important;
  border: 0.2px solid var(--azul-cinza-baixa-opacidade);
}

.titulo-caption {
  font-size: var(--fonte-media);
  font-weight: bold;
  padding: var(--espaço);
}

.menu-lateral {
  margin: calc(var(--espaço) * 5);
  margin-left: calc(var(--espaço-medio) * 5);
  padding: var(--espaço);
  max-width: var(--largura-pagina-secundarial);
  float: left;
  display: inline-block;
  border-left: 0.2px solid var(--azul);
}

.header-nav {
  padding: var(--espaço-pequeno);
  display: flex;
}

.header-nav h3 {
  font-size: var(--fonte-pequena);
}

#botao-home {
  border: none !important;
  color: var(--branco);
  background-color: var(--azul) !important;
  font-weight: bold;
  border-radius: var(--raioBorda);
  padding: var(--espaço-pequeno);
  
}

  
.botao-header {
  color: var(--azul);
  cursor: pointer;
  transition: filter var(--transicao-rapida) ease-in-out;
  padding: var(--espaço-minusculo);
}


.offcanvas {
  position: fixed !important;
  transition: left 0.3s ease !important;
  padding: var(--espaço);
  height: 100% !important;
  width: 300px !important;
  top: 0 !important;
  left: -300px; 
  background-color: var(--azul-claro) !important;
  color: var(--branco) !important;
}


.offcanvas-body a{
  font-size: var(--fonte-pequena);
  text-decoration: none;
}

.offcanvas-title h5 {
  font-size: var(--fonte-media);
}

.show {
  left: 0; /* Mostrar o offcanvas no lado esquerdo */
}

.link-header {
  padding-right: calc(var(--espaço) * 1.6);
  padding-bottom: calc(var(--espaço) * 0.5);
  transition: 1s;
  font-weight: bold;
  color: var(--azul) !important;
}

.link-header:hover {
  font-size: 20px;
  background-color: var(--azul) !important;
  color: var(--branco) !important;
  padding-left: var(--espaço-pequeno);
  text-decoration: none;
}

.corpo_secundario {
    max-width: var(--largura-pagina-principal);
    margin: calc(var(--espaço) * 3) auto;
    padding: calc(var(--espaço) * 2) auto;
    color: var(--preto) !important;
    background-color: var(--branco);
    border-radius: var(--raioBorda);
    box-shadow: inset 2px 6px 6px var(--preto-baixa-opacidade) !important;
    border: 0.2px solid var(--preto-baixa-opacidade);
    min-height: 190px;
  }
  
.responsive-table {
    width: 100%;
    overflow-x: auto;
  }
  
  .table-caption {
    font-size: var(--fonte-media);
    font-weight: bold;
    padding: var(--espaço);
  }

  .tarefas-table {
    width: 100%;
    min-width: var(--tamanho-tabela-minima);
    border-collapse: collapse;
  }
  
  .table-row {
    text-align: left;
    text-overflow: ellipsis;
    transition: background-color var(--transicao-rapida) ease-in-out;
  }
  
  .table-row:nth-of-type(2n) {
    background: var(--cinza);
    box-shadow: inset 0px 6px 6px var(--preto-baixa-opacidade) !important;
  }
  
  .table-row:not(.table-row-header):hover {
    background: var(--azul);
    color: var(--branco) !important;
    
  }
  
  .table-row-header {
    background: var(--cinza);
    color: var(--preto);
    box-shadow: inset 0px 6px 6px var(--preto-baixa-opacidade) !important;
  }
  
  .table-campo,
  .table-header {
    padding: var(--espaço);
    font-size: var(--fonte-pequena);
  }
  
  .table-link {
    color: var(--preto);
    transition: color var(--transicao-rapida) ease-in-out;
    text-decoration: none;
  }
  
  .table-link:hover  p{
    color: var(--branco);
  }


a {
  text-decoration: none !important;
}

.pagination {
  margin-top: var(--espaço);
  display: flex;
  justify-content: center;
  padding: calc(var(--espaço) * 0.8);
  font-size: var(--fonte-pequena);
}

.pagination .step-links {
  display: flex;
  gap: calc(var(--espaço) * 0.8);
}

.pagination .step-links a {
  color: var(--azul);
  transition: color var(--transicao-rapida) ease-in-out;
  text-decoration: none;
  display: block;
}

.form-wrapper {
  max-width: 60rem;
  margin: var(--espaço) auto;
}

.form-content {
  margin: var(--espaço) 0;
}

.form-group {
  display: flex;
  flex-direction: column;
  padding-bottom: var(--espaço);
  
}

.form-label {
  text-align: left !important;
}

.form-group p {
  margin: 1em 0;
}

.form-group .help-text,
.form-group .help-text ~ ul {
  margin: 0;
  font-size: var(--fonte-pequena);
  list-style: none;
}

.form-group input,
.form-group textarea,
.form-group select {
  padding: 1rem;
  border-radius: var(--raioBorda);
  border: 1px solid var(--preto-baixa-opacidade);
}

.form-group input:focus,
.form-group textarea:focus,
.form-group select:focus {
  outline: none;
  box-shadow: 0 0 5px var(--preto-baixa-opacidade);
}

.form-group label {
  font-size: var(--fonte-pequena);
}

.btn {
  background-color: var(--azul) !important;
  color: var(--branco) !important;
  font-weight: bold !important;
  font-size: var(--fonte-pequena) !important;
  border: none;
  padding: 1rem 2rem;
  border-radius: var(--raioBorda);
  cursor: pointer;
  transition: filter var(--transicao-rapida) ease-in-out;
}

.btn:hover {
  filter: brightness(90%);
}

.btn:focus,
.btn:active {
  filter: brightness(80%);
  box-shadow: 0 0 5px var(--preto-baixa-opacidade);
}

.action {
  background-color: var(--azul-claro) !important;
  color: var(--branco) !important;
  border-radius: 0px 15px 0px 15px;
}

.texto {
  font-size: var(--fonte-muito-pequena) !important;
}

.texto-titulo {
  padding: var(--espaço);
}

.nav-item {
  font-size: var(--fonte-muito-pequena) !important;
  font-weight: bold !important;
}

.nav-item-pequeno {
  font-size: var(--fonte-grande) !important;
  color: var(--preto);
}

