:root {
    --espaço-grande: 5rem;
    --espaço-medio: 2.4rem;
    --espaço: 1.5rem;
    --espaço-pequeno: 0.8rem;
    --largura-pagina-principal: 120rem;
    --tamanho-tabela-minima: 60rem;

    --fonte-pequena: 1.6rem;
    --fonte-media: 2.4rem;
    --fonte-grande: 3.2rem;
    --fonte-extra-grade: 4rem;

    --transicao-rapida: 300ms;

    --espessuraBorda: 0.3rem;
    --raioBorda: 4px;

    --branco: #f1f1f1;
    --cinza: #b6b6b6;
    --preto: #323232;
    --azul: #284B63;
    --azul-claro: #315f7e;
    --verde-agua: #3C6E71;
    --verde-agua-claro: #53989b;

    --verbelho-argila: #A72F1D;
    --verde: #3c514b;

    --preto-baixa-opacidade: rgb(50, 50, 50, 0.1);
    --branco-baixa-opacidade: rgb(241, 241, 241, 0.5);
    --azul-cinza-baixa-opacidade: rgba(82, 96, 126, 0.2);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html {
    font-size: 62.5%;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.5;
    font-size: var(--fonte-pequena);
    color: var(--preto);
    background: var(--branco);
    -webkit-font-smoothing: antialiased;
}

.texto-verde {
  color: var(--verde) !important;
}

.texto-vermelho {
  color: var(--verbelho-argila) !important;
}

.titulo-corpo {
  padding: var(--espaço);
}

.elemento-corpo {
  padding: var(--espaço);
}

.cabecalho_pagina {
    color: var(--branco);
    background: var(--azul);
    padding: var(--espaço-medio);
    box-shadow: 0px 6px 6px var(--preto-baixa-opacidade); /* (quanto a direita), (quanto para baixo), (arredondamento borda) */
}

.quadro-descricao {
  margin: calc(var(--espaço) * 1);
  color: var(--preto) !important;
  background-color: var(--branco);
  border-radius: var(--raioBorda);
  box-shadow: -2px -6px 6px var(--preto-baixa-opacidade) !important;
  border: 0.2px solid var(--azul-cinza-baixa-opacidade);
}

.titulo-caption {
  font-size: var(--fonte-media);
  font-weight: bold;
  padding: var(--espaço);
}

.corpo_secundario {
    max-width: var(--largura-pagina-principal);
    margin: calc(var(--espaço) * 3) auto;
    padding: calc(var(--espaço) * 2) auto;
    color: var(--preto) !important;
    background-color: var(--branco);
    border-radius: var(--raioBorda);
    box-shadow: inset 2px 6px 6px var(--preto-baixa-opacidade) !important;
    border: 0.2px solid var(--preto-baixa-opacidade);
  }
  
.responsive-table {
    width: 100%;
    overflow-x: auto;
  }
  
  .table-caption {
    font-size: var(--fonte-media);
    font-weight: bold;
    padding: var(--espaço);
  }

  .tarefas-table {
    width: 100%;
    min-width: var(--tamanho-tabela-minima);
    border-collapse: collapse;
  }
  
  .table-row {
    text-align: left;
    text-overflow: ellipsis;
    transition: background-color var(--transicao-rapida) ease-in-out;
  }
  
  .table-row:nth-of-type(2n) {
    background: var(--cinza);
    box-shadow: inset 0px 6px 6px var(--preto-baixa-opacidade) !important;
  }
  
  .table-row:not(.table-row-header):hover {
    background: var(--azul);
    color: var(--branco) !important;
    
  }
  
  .table-row-header {
    background: var(--cinza);
    color: var(--preto);
    box-shadow: inset 0px 6px 6px var(--preto-baixa-opacidade) !important;
  }
  
  .table-campo,
  .table-header {
    padding: var(--espaço);
  }
  
  .table-link {
    color: var(--preto);
    transition: color var(--transicao-rapida) ease-in-out;
    text-decoration: none;
  }
  
  .table-link:hover  p{
    color: var(--branco);
  }

  /* header */
  .header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .offcanvas {
      position: fixed !important;
      transition: left 0.3s ease !important;
      padding: var(--espaço);
      height: 100% !important;
      width: 300px !important;
      top: 0 !important;
      left: -300px; 
      background-color: var(--azul) !important;
      color: var(--branco) !important;
  }
  
  .botao-header {
      background: var(--branco);
      color: var(--verde-agua);
      cursor: pointer;
      transition: filter var(--transicao-rapida) ease-in-out;
      padding: calc(var(--espaço) / 2.5);
      border: none;
  }
  
  .offcanvas-body a{
      font-size: var(--fonte-pequena);
      text-decoration: none;
  }
  
  .offcanvas-title h5 {
      font-size: var(--fonte-media);
  }
  
  .show {
      left: 0; /* Mostrar o offcanvas no lado esquerdo */
  }
  
  .link-header {
      border-radius: 5px 5px 5px 5px;
      padding-right: calc(var(--espaço) * 1.6);
      padding-bottom: calc(var(--espaço) * 0.5);
      transition: 1s;
      font-weight: bold;
      color: var(--branco) !important;
  }
  
  .link-header:hover {
      font-size: 20px;
      background-color: var(--azul-claro);
      color: var(--branco);
      padding-left: var(--espaço-pequeno);
      text-decoration: none;
  }

a {
  text-decoration: none !important;
}