{% extends "global/base.html" %}

{% block titulo_pagina %}
    <div class="cabecalho_pagina">
        <h4>{{ titulo }}</h4>
        <h6>{{ dia }}</h6>
    </div>
{% endblock titulo_pagina %}

{% block corpo_pagina %}
    <div class = "corpo_secundario">
        <div class = "card text-center">
            <div class = "card-header">
                <ul class = "nav nav-pills card-header-pills">
                    <li class = "nav-item">
                        <a style = "color: #f1f1f1 !important;" class = "nav-link action" aria-current = "true" href = "{% url "financeiro:dashboad" %}">Finanças</a>
                    </li>
                    <li class="nav-item">
                       <a style = "color: #323232 !important;" class = "nav-link" href = "{% url "financeiro:dashboad" %}">Cofrinho</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class = "card">
            <div class = "card-header">
                <h3>R$ {{ financeiro.saldo }}</h3>
                <h3>R$ {{ financeiro.cofrinho }}</h3>
            </div>
        </div>
        <div class = "responsive-table">
            <table class = "tarefas-table">
                <h3 class = "table-caption">
                    Teste
                </h3>
                <thead>
                    <tr class = "table-row table-row-header">
                        <th class = "table-header">Nome</th>
                        <th class = "table-header">Data</th>
                        <th class = "table-header">Categoria</th>
                        <th class = "table-header">Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for tarefa in tarefas %}
                        <tr class="table-row" onclick="window.location='{% url "agenda:descricao" tarefa.pk %}'" style="cursor: pointer;">
                            <td class="table-campo">
                                <p></p>
                            </td>
                            <td class="table-campo">
                                <p></p>
                            </td>
                            <td class="table-campo">
                                <p></p>
                            </td>
                            <td class="table-campo">
                                <p></p>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% include "parciais/_paginacao.html" %}
    </div>
{% endblock corpo_pagina %}