:root {
    --espaço-grande: 5rem;
    --espaço-medio: 2.4rem;
    --espaço: 1.5rem;
    --espaço-pequeno: 0.8rem;
    --espaço-minusculo: 0.5rem;
    --largura-pagina-principal: 120rem;
    --largura-pagina-secundarial: 40rem;
    --tamanho-tabela-minima: 60rem;

    --fonte-muito-pequena: 1.3rem;
    --fonte-pequena: 1.6rem;
    --fonte-media: 2.4rem;
    --fonte-grande: 3.2rem;
    --fonte-extra-grade: 4rem;

    --transicao-rapida: 300ms;

    --espessuraBorda: 0.3rem;
    --raioBorda: 4px;

    --branco: #f1f1f1;
    --cinza: #b6b6b6;
    --preto: #323232;
    --azul: #284B63;
    --azul-claro: #387299;

    --verbelho-argila: #A72F1D;
    --verde: #00ff73;
    --verde-claro: #126d3b;

    --preto-baixa-opacidade: rgb(50, 50, 50, 0.1);
    --branco-baixa-opacidade: rgb(241, 241, 241, 0.5);
    --azul-cinza-baixa-opacidade: rgba(82, 96, 126, 0.2);
}
